<section>
    <section>
        <p>3. Route</p>
        <pre><code class="language-js" data-trim data-line-numbers>
            // GET method route
            app.get('/', function (req, res) {
              res.send('GET request to the homepage')
            })
            
            // POST method route
            app.post('/', function (req, res) {
              res.send('POST request to the homepage')
            })

            // PUT method route
            app.put('/', function (req, res) {
              res.send('PUT request to the homepage')
            })

            // DELETE method route
            app.delete('/', function (req, res) {
              res.send('DELETE request to the homepage')
            })
        </code></pre>

    </section>

    <section>
        <p>GET</p>
        <div>
            <img src="/images/3-route/route_get.png">
        </div>
        <p>POST</p>
        <div>
            <img src="/images/3-route/route_post.png">
        </div>
    </section>
    <section>
        <p>PUT</p>
        <div>
            <img src="/images/3-route/route_put.png">
        </div>
        <p>DELETE</p>
        <div>
            <img src="/images/3-route/route_delete.png">
        </div>
    </section>


</section>