<section>
    <h2>File Structure</h2>
    <pre><code class="language-shell" data-trim data-line-numbers>
        index.js //ไฟล์ js
        package.json //รายละเอียด project และ library ที่ติดตั้ง
        package-lock.json //รายละเอียด library ที่ติดตั้ง เพื่อให้ได้ version เดียวกัน
    </code></pre>
</section>