<section>
    <h2>Node Package Manager</h2>
    <p>Node.js using npm</p>

    <p>initialize you project</p>
    <pre><code class="language-shell" data-trim data-line-numbers>
        npm init
    </code></pre>

    <p>install package</p>
    <pre><code class="language-shell" data-trim data-line-numbers>
        npm install --save express
    </code></pre>
</section>